.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #359c25;
  max-width: 100vw;
  height: 150px;
}

.footer__copyright {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.footer__direction {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  max-width: 286px;
}

.footer__icon {
  width: 25px;
}
